@gitorange: #F44D27;
@giprimary: #EEEEEE;
@gidark: #333333;
@gisection: #222222;
@padding: 40px 0 20px 0;
@titlepadding: 100px 0 10px 0;
@footerpadding: 40px 0 0px 0;

@font-face {
  font-family: 'AdelleBold';
  src: url('../fonts/adelle_bold-webfont.eot');
  src: url('../fonts/adelle_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/adelle_bold-webfont.woff') format('woff'),
  url('../fonts/adelle_bold-webfont.ttf') format('truetype'),
  url('../fonts/adelle_bold-webfont.svg#AdelleBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdelleRegular';
  src: url('../fonts/adelle_regular-webfont.eot');
  src: url('../fonts/adelle_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/adelle_regular-webfont.woff') format('woff'),
  url('../fonts/adelle_regular-webfont.ttf') format('truetype'),
  url('../fonts/adelle_regular-webfont.svg#AdelleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: auto;
  background: @gidark;
}
body {
  padding: 0;
  color: #c5c8c6;
  overflow: hidden;
  background: transparent;
  font-family: "AdelleRegular",serif;
}
img{
  border-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}
h4.subtitle {
  font-family: "AdelleRegular",serif;
}
h3.spacer {
  margin-top: 32px;
  margin-bottom: 8px;
}

a {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

a, a:link, a:visited, a:hover, a:active {
  color:@gitorange;
  text-decoration:none;
  border:0;
  outline:none;
}

a:hover   {opacity: 0.6;}

.padtop {
  padding: @padding;
}
.padtitle {
  padding: @titlepadding;
}
.padfooter {
  padding: @footerpadding;
}

.input-group-btn {
  vertical-align: top;
}

footer {
  padding: @padding;
  background-color: @gisection;
}

.section-well {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid @gisection;
  border-bottom: 1px solid @gisection;
  border-radius: 0px;
  background-color: @gisection;
}

.tux-logo {
  color: #FFCC00;
}
.windows-logo {
  color: #00CCFF;
}
.apple-logo {
  color: #fefefe;
}
pre {
  border: 0px solid @gisection;
}