extends layout

block content
  section.padtop
    include title
  section#install.padtop
    .well.section-well(style='background-position: 50% -82px;')
      .container.center-text
        .row
          .col-lg-12
            .social
              h1 Command Line Installation
              h4 <small>To run gitignore.io from your command line you need an active internet connection an environment function.  You need to add a function to your environment that lets you access the gitignore.io API.</small>
    .container
      .row
        .col-lg-12
          .alert.alert-warning On January 6th, 2014 gitignore.io  moved to Heroku which doesn't allow naked domains.  If your <code>gi</code> command is not functioning, update your script to point to <code>www.gitignore.io</code> instead of <code>gitignore.io</code>
      .row
        .col-lg-12
          h3.tux-logo Linux
          p #!/bin/bash
          pre.highlight
            span.nv $&nbsp;
            span.nb echo&nbsp;
            span.s2 "function gi() { curl http://www.gitignore.io/api/\$@ ;}"&nbsp;
            | >> ~/.bashrc&nbsp;
            span.o &&&nbsp;
            span.nb source&nbsp;
            | ~/.bashrc
          h3.spacer.apple-logo OSX
          p #!/bin/bash
          pre.highlight
            span.nv $&nbsp;
            span.nb echo&nbsp;
            span.s2 "function gi() { curl http://www.gitignore.io/api/\$@ ;}"&nbsp;
            | >> ~/.bash_profile&nbsp;
            span.o &&&nbsp;
            span.nb source&nbsp;
            | ~/.bash_profile
          p #!/bin/zsh
          pre.highlight
            span.nv $&nbsp;
            span.nb echo&nbsp;
            span.s2 "function gi() { curl http://www.gitignore.io/api/\$@ ;}"&nbsp;
            | >> ~/.zshrc&nbsp;
            span.o &&&nbsp;
            span.nb source&nbsp;
            | ~/.zshrc
          h3.spacer.windows-logo Windows
          p Crate a PowerShell v3 Script
          pre.highlight
            span.c #For PowerShell v3
            br
            span.k Function&nbsp;
            span.nb gi&nbsp;
            span.p {
            br
            span.k &nbsp;&nbsp;param
            span.p (
            br
            span.p &nbsp;&nbsp;&nbsp;&nbsp;[
            span.k Parameter
            span.p (
            span.k Mandatory
            span.p \=
            span.nv $true
            span.p )]
            br
            span.no &nbsp;&nbsp;&nbsp;&nbsp;[string[]]
            span.nv $list
            br
            span.p &nbsp;&nbsp;)
            br
            span.nv &nbsp;&nbsp;$params&nbsp;
            span.p \=&nbsp;
            span.nv $list&nbsp;
            span.n -join&nbsp;
            span.s2 ","
            br
            span.nb &nbsp;&nbsp;invoke-WebRequest&nbsp;
            span.n -Uri&nbsp;
            span.s2 "http://www.gitignore.io/api/$params"&nbsp;
            span.p |&nbsp;
            span.n select&nbsp;
            span.n -expandproperty&nbsp;
            span.n content&nbsp;
            span.p |&nbsp;
            span.nb out-file&nbsp;
            span.n -FilePath&nbsp;
            span.p $(
            span.nb join-path&nbsp;
            span.n -path&nbsp;
            span.nv $pwd&nbsp;
            span.n -ChildPath&nbsp;
            span.s2 ".gitignore"
            span.p )&nbsp;
            span.n -Encoding&nbsp;
            span.n ascii
            br
            span.p }
          p Crate a PowerShell v2 Script
          pre.highlight
            span.c #For PowerShell v2
            br
            span.k Function&nbsp;
            span.nb gi&nbsp;
            span.p {
            br
            span.k &nbsp;&nbsp;param
            span.p (
            span.p &nbsp;&nbsp;&nbsp;&nbsp;[
            span.k Parameter
            span.p (
            span.k Mandatory
            span.p \=
            span.nv $true
            span.p )]
            br
            span.no &nbsp;&nbsp;&nbsp;&nbsp;[string[]]
            span.nv $list
            br
            span.p &nbsp;&nbsp;)
            span.nv &nbsp;&nbsp;$params&nbsp;
            span.p \=&nbsp;
            span.nv $list&nbsp;
            span.n -join&nbsp;
            span.s2 ","
            br
            span.nv &nbsp;&nbsp;$wc&nbsp;
            span.p \=&nbsp;
            span.nb New-Object&nbsp;
            span.n System
            span.p .
            span.n Net
            span.p .
            span.n WebClient
            br
            span.nv &nbsp;&nbsp;$wc
            span.p .
            span.n Headers
            span.p [
            span.s2 "User-Agent"
            span.p ]&nbsp;
            span.p \=&nbsp;
            span.s2 "PowerShell/"&nbsp;
            span.p +&nbsp;
            span.nv $PSVersionTable
            span.p [
            span.s2 "PSVersion"
            span.p ].
            span.n ToString
            span.p ()
            br
            span.nv &nbsp;&nbsp;$wc
            span.p .
            span.n DownloadFile
            span.p (
            span.s2 "http://www.gitignore.io/api/$params"
            span.p ,&nbsp;
            span.s2 "$PWD\.gitignore"
            span.p )
            br
            span.p }
  section#usage.padtop
    .well.section-well(style='background-position: 50% -82px;')
      .container.center-text
        .row
          .col-lg-12
            .social
              h1 Command Line Usage
              h4 <small>After the function is created, the <strong>gi</strong> command will give you command line access to the gitingore.io API.</small>
    .container
      .row
        .col-lg-12

          p Show ouput on the command line
          pre.highlight
            span.nv $&nbsp;
            | gi linux,java
            br
            span.c # Created by http://www.gitignore.io
            br
            br
            span.c ### Linux ###
            br
            | .*
            br
            | !.gitignore
            br
            | *~
            br
            br
            span.c ### Java ###
            br
            | *.class
            br
            span.c # Package Files #
            br
            | *.jar
            br
            | *.war
            br
            | *.ear
          p Append Operating System and IDE settings to global .gitignore
          pre.highlight
            span.nv $&nbsp;
            | gi linux,eclipse >> ~/.gitignore
          p Append programming languages to your project .gitignore file
          pre.highlight
            span.nv $&nbsp;
            | gi java,python >> .gitignore
          p Show gitignore.io operating system, programming language, or IDE keyword types
          pre.highlight
            span.nv $&nbsp;
            | gi list
            | leiningen,appceleratortitanium,perl,java,codeigniter,lithium,sketchup,scala,go,erlang,expressionengine,textpattern,maven,typo3,symfony,jboss,c,fuelphp,haskell,wordpress,lilypond,clojure,symphonycms,concrete5,jython,target3001,sugarcrm,django,gcov,opencart,plone,dart,node,oracleforms,eagle,qooxdoo,grails,jekyll,gwt,cakephp,tasm,joomla,turbogears2,c++,android,visualstudio,ruby,actionscript,drupal,playframework,r,cfwheels,seamgen,opa,symfony2,coq,lemonstand,sdcc,delphi,rhodesrhomobile,nanoc,ocaml,finale,rails,latex,objective-c,bancha,zendframework,cmake,forcedotcom,magento,waf,qt,autotools,compass,yii,kohana,python,unity,silverstripe,openfoam,freepascal,ph7cms,dotsettings,basercms,xamarinstudio,elixir,justcode,vvvv,tarmainstallmate,ensime,codekit,meteor,elasticbeanstalk,wakanda,lazarus,laravel,gradle,cloud9,komodoedit,senchatouch,joe,prestashop,intellij,bower,sass,emacs,virtualenv,rubymine,matlab,modelsim,osx,windows,eclipse,mercurial,textmate,pycharm,sbt,redcar,monodevelop,netbeans,tags,phpstorm,quartus2,espresso,xilinxise,sublimetext,svn,archives,flexbuilder,cvs,vim,linux
  section#footer.padfooter
    footer
      .container
        .row.text-center
          .col-lg-12
            iframe(src="http://www.gitignore.iomgithub-btn.html?user=joeblau&repo=gitignore.io&type=watch&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="140", height="30")
            iframe(src="http://www.gitignore.io/github-btn.html?user=joeblau&repo=gitignore.io&type=fork&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="140", height="30")
            iframe(src="http://www.gitignore.io/github-btn.html?user=joeblau&type=follow&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="170", height="30")
        .row.footer
          .col-lg-8
            h4 About
            p www.gitignore.io is a web service designed to help you create .gitignore files for your <a href="http://git-scm.com/" title="Git">Git</a> repositories.  The site has a graphical and command line method of creating a .gitignore for your operating system, programming language, or IDE.
          .col-lg-4
            h4 Links
            p <i class="icon-github-alt"></i> <a href="https://github.com/joeblau/gitignore.io" title="www.gitignore.io source code">www.gitignore.io source code</a>
            p <i class="icon-github-alt"></i> <a href="https://github.com/github/gitignore" title="GitHub gitignore repository">GitHub gitignore repository</a>
        .row.text-center
          .col-lg-12
            h5 2013-2014 <a href="http://www.gitignore.io">www.gitignore.io</a>
