extends layout

block content
  .tbgl
    .container
      include title
      .row
        .span10.well.offset1
          .input-append
            input.span8#ignoreSearch(type='hidden')
            .btn-group
              button.btn.btn-gitignore.span2(type='button', onClick='generateGitIgnore()') Generate
              button.btn.btn-gitignore.dropdown-toggle(data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li
                  a(onClick='generateGitIgnoreFile()')
                    span.icon-download  Download File

      .row.center-text
        .span12
          h4
            nav
              a(href='/cli', title='Command Line') Learn how to run gitignore.io from the command line >>