extends layout

block content
  .container
    .row.center-text
      .span12
        h2 gitignore.io
        h6 Generate gitignore files
    .row
      .span12
        .controls
          .span8
            input.input-block-level#ignoreSearch(type='hidden')
          button.btn.btn-primary.span3(type='submit', onClick='generateGitIgnore()') Generate
    .row
      .span12
        p CLI
        h5 OSX
        code # sudo echo "function gi() { curl http://gitignore.io/api/\$@ ;}"  >> ~/.profile && source ~/.profile
        h5 Linux
        code # sudo echo "function gi() { curl http://gitignore.io/api/\$@ ;}"  >> ~/.bash_profile && source ~/.bash_profile