extends layout

block content
  a.fork(href="https://github.com/joeblau/gitignore.io")
    img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub")

  section.padtitle
    include title

  section#search.padtop
    .container
      .row.text-center
        .col-lg-12
          .col-lg-10.col-lg-offset-1
            .input-group
              input.input-lg.form-control#ignoreSearch(type='text', placeholder='Search Operating Systems, IDEs, or Programming Languages', tabindex='1')
              .input-group-btn
                button.btn.btn-gitignore.btn-lg(type='button', tabindex='-1', onClick='generateGitIgnore()') Generate
                button.btn.btn-gitignore.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown', tabindex='-1')
                  span.caret
                ul.dropdown-menu.pull-right(role='menu')
                  li
                    a(onClick='generateGitIgnoreFile()')
                      span.icon-download  Download File
  section
   .row.text-center
      .col-lg-12
        h5 Hosting #{fileCount} Operating System, IDE, and Programming Language .gitignore templates
  section#links.padtop
    .container
      .row.text-center
        .col-lg-4.col-lg-offset-2.col-md-5.col-md-offset-1.col-sm-6
          a(href='/cli', tabindex='-1')
            i.gi-gi-terminal
            article
              header
                h3 Command Line
              p Learn how to run .gitignore.io from the command line
        .col-lg-4.col-md-5.col-sm-6
          a.fancybox-media(href='https://vimeo.com/70609819', tabindex='-1')
            i.gi-gi-video
            article
              header
                h3 Watch Video
              p Watch a video to learn how .gitignore.io works