extends layout

block content
  .container
    .row.center-text
      .span12
        h2 gitignore.io
        h6 Create gitignore files
    .row
      .span12
        .controls
          .span8
            input.input-block-level#ignoreSearch(type='hidden')
          button.btn.btn-primary.span3(type='submit', onClick='window.location="http://gitignoreio.herokuapp.com/api/"+$("#ignoreSearch").select2("val");') Generate
    .row
      .span12
        p CLI
        h5 OSX
        code sudo echo "function gi() { curl http://gitignore.io/api/$@ ;}"  >> ~/.profile
        h5 Linux
        code sudo echo "function gi() { curl http://gitignore.io/api/$@ ;}"  >> ~/.bash_profile