doctype html
html(itemscope='itemscope', itemtype='https://schema.org/WebApplication', prefix='og: https://ogp.me/ns#')
  head
    title= title
    meta(name='author', content='Joe Blau')
    meta(name='description', content='Create useful .gitignore files for your project')
    meta(name='keywords', content='gitignore,git,create,make,generate,build,automatic,programmatic,command line,cli')

    meta(property='og:type', content='website')
    meta(property='og:title', content='gitignore.io')
    meta(property='og:description', content='Create useful .gitignore files for your project')
    meta(property='og:image', content='https://gitignore.io/gitignore.png')
    meta(property='og:url', content='https://gitignore.io')

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@joe_blau')
    meta(name='twitter:title', content='gitignore.io')
    meta(name='twitter:description', content='Create useful .gitignore files for your project')
    meta(name='twitter:creator', content='@joe_blau')
    meta(name='twitter:image:src', content='https://gitignore.io/gitignore.png')
    meta(name='twitter:domain', content='https://gitignore.io')

    meta(itemprop='name', content='gitignore.io')
    meta(itemprop='description', content='Create useful .gitignore files for your project')
    meta(itemprop='image', content='https://gitignore.io/gitignore.png')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo:400,700')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
    link(rel='stylesheet', href='/pygments/tomorrow.css')

    link(rel='stylesheet', href='/gi/css/gi.css')
    link(rel='stylesheet', href='/gi/css/select2-bootstrap.css')
  body
    a.fork(href="https://github.com/joeblau/gitignore.io")
      img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub")
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js')
    script(src='/gi/js/gi.ugly.js')
