doctype 5
html
  head
    title= title
    meta(name='author', content='Joe Blau')
    meta(name='description', content='Generate useful .gitignore files for your project')
    meta(name='keywords', content='gitignore,git,generate,automatic,programatic,command line,cli')
    link(rel='stylesheet', href='/bs/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fa/css/font-awesome.css')
    link(rel='stylesheet', href='/fa/css/font-awesome-ie7.css')
    link(rel='stylesheet', href='/gi/css/select2.css')
    link(rel='stylesheet', href='/gi/css/gi.css')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/bs/js/bootstrap.min.js')
    script(src='/gi/js/select2.min.js')
    script(src='/gi/js/gi.ugly.js')