doctype 5
html
  head
    title= title
    meta(name='author', content='Joe Blau')
    meta(name='description', content='Generate useful .gitignore files for your project')
    meta(name='keywords', content='gitignore,git,generate,automatic,programatic,command line,cli')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome-ie7.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
    link(rel='stylesheet', href='/pygments/tomorrow.css')

    link(rel='stylesheet', href='/gi/css/gi.css')
  body
    block content
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js')
    script(src='/gi/js/gi.ugly.js')
