doctype 5
html
  head
    title= title
    meta(name='author', content='Joe Blau')
    meta(name='description', content='Generate useful .gitignore files for your project')
    meta(name='keywords', content='gitignore,git,generate,automatic,programatic,command line,cli')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css')
    link(rel='stylesheet', href='/stylesheets/select2.css')
    link(rel='stylesheet', href='/stylesheets/gi.css')
    script(src='//use.typekit.net/pyk5sfx.js', type='text/javascript')
    script(type='text/javascript') try{Typekit.load();}catch(e){}
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js')
    script(src='/javascripts/select2.min.js')
    script(src='/javascripts/downloadify.min.js')
    script(src='/javascripts/gi.ugly.js')