.row
  .col-lg-12.text-center
    a(href='/', title='gitignore.io - Create useful .gitignore files for your project', tabindex='-1')
      img(src='/gi/img/gitignore-logo-light.png', alt='gitignore.io logo', width='276')
    h4.subtitle Create useful .gitignore files for your project