.row.center-text
  .span12
    a(href='http://gitignore.io', title='gitignore.io - Generate useful .gitignore files for your project')
      img(src='/gi/img/gitignore-logo-light.png', alt='gitignore.io logo')
    h4 Generate useful .gitignore files for your project