#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  max-width: 360px;
}

#carbonads a {}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
  text-align: center;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 12px;
}
