#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  max-width: 360px;
}

#carbonads a {}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 12px;
}
