html{background:#1d1f21 url(../images/bg.png) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
h1{color:#f44d27;}
body{color:#c5c8c6;background:transparent;font-family:"Lucida Grande",Helvetica,Arial,sans-serif;}
a{color:#00B7FF;}
.center-text{text-align:center;}
p{font-size:18px;}
.tbgl{background-color:rgba(45, 45, 45, 0.5);padding:70px 0 70px 0;width:100%;}
.tbgb{border-bottom:1px solid #f44d27;background-color:rgba(45, 45, 45, 0.9);padding:30px 0 30px 0;width:100%;}
.tbgf{background-color:rgba(45, 45, 45, 0.9);padding:30px 0 30px 0;width:100%;}
row{padding:30px 0 30px 0;}
.twitter-blue{color:#00ACED;}
.github-gray{color:#4F4F4F;}
.well{background-color:#f44d27;border:1px solid #a0321a;}
blockquote{border-left:5px solid #f44d27;}
pre{background-color:rgba(245, 245, 245, 0.7);}
