html{background:#1d1f21;}
h1{color:#f44d27;}
h5,h6{font-family:"adelle",serif;font-style:normal;font-weight:300;}
body{color:#c5c8c6;background:transparent;font-family:"adelle",Georgia,"Times New Roman",serif;}
a:link{color:#f44d27;}
a:visited{color:#f44d27;}
a:hover{color:#f44d27;}
a:active{color:#f44d27;}
.center-text{text-align:center;}
p{font-size:18px;}
.tbgl{padding:100px 0 100px 0;width:100%;}
.tbgb{border-bottom:1px solid #f44d27;background-color:rgba(45, 45, 45, 0.9);padding:30px 0 30px 0;width:100%;}
.tbgf{background-color:rgba(45, 45, 45, 0.9);padding:30px 0 30px 0;width:100%;}
row{padding:30px 0 30px 0;}
.twitter-blue{color:#00ACED;}
.github-gray{color:#4F4F4F;}
.well{background-color:#f44d27;border:1px solid #a0321a;padding:14px 4px 14px 4px;margin-top:40px;margin-bottom:40px;}
blockquote{border-left:5px solid #f44d27;}
.input-append{font-size:14px;margin-bottom:0px;}
.span9{margin-left:10px;}
pre{background-color:rgba(245, 245, 245, 0.7);}
.select2-container-multi .select2-choices{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.select2-container-multi .select2-choices .select2-search-field input{height:16px;}
