@font-face{font-family:adelle-bold;src:url('../fonts/ab.ttf');}@font-face{font-family:adelle;src:url('../fonts/ar.ttf');}html{background:#1d1f21;}
img{border-style:none;}
h1{color:#f44d27;}
h4,h5,h6{font-family:"adelle",serif;font-style:normal;font-weight:100;}
h5.normal{font-family:"adelle",serif;font-style:normal;font-weight:400;}
body{color:#c5c8c6;background:transparent;font-family:"adelle",serif;}
a:link{color:#f44d27;}
a:visited{color:#f44d27;}
a:hover{color:#f44d27;}
a:active{color:#f44d27;}
.center-text{text-align:center;}
span.orange{color:#f44d27;font-family:"adelle-bold",serif;font-style:normal;font-weight:700;}
p{font-size:16px;font-family:"adelle",serif;font-style:normal;font-weight:400;}
.tbgl{padding:100px 0 100px 0;}
.tbgb{padding:30px 0 30px 0;}
.tbgf{padding:30px 0 30px 0;background-color:#000000;}
row{padding:30px 0 30px 0;}
.twitter-blue{color:#00ACED;}
.github-gray{color:#4F4F4F;}
.well{background-color:#000000;border:0px solid #000000;padding:14px 4px 14px 4px;margin-top:40px;margin-bottom:40px;}
.btn-gitignore{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#f44d27;*background-color:#f44d27;background-image:-moz-linear-gradient(top, #f44d27, #f44d27);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f44d27), to(#f44d27));background-image:-webkit-linear-gradient(top, #f44d27, #f44d27);background-image:-o-linear-gradient(top, #f44d27, #f44d27);background-image:linear-gradient(to bottom, #f44d27, #f44d27);background-repeat:repeat-x;border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF44D27', endColorstr='#ffF44D27', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-gitignore:hover,.btn-gitignore:focus,.btn-gitignore:active,.btn-gitignore.active,.btn-gitignore.disabled,.btn-gitignore[disabled]{color:#ffffff;background-color:#f44d27;*background-color:#f44d27;}
.btn-gitignore .caret{border-top-color:#ffffff;border-bottom-color:#ffffff;}
.btn-group.open .btn-gitignore.dropdown-toggle{background-color:#ad381c;}
.btn-gitignore:active,.btn-gitignore.active{background-color:#f44d27;}
blockquote{border-left:1px solid #f44d27;}
.input-append{font-size:14px;margin-bottom:0px;}
.span8{width:600px;margin-left:8px;}
pre{background-color:rgba(245, 245, 245, 0.7);}
.select2-container-multi .select2-choices{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.select2-container-multi .select2-choices .select2-search-field input{height:16px;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{text-decoration:none;color:#ffffff;background-color:#f44d27;background-image:-moz-linear-gradient(top, #f44d27, #f44d27);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f44d27), to(#f44d27));background-image:-webkit-linear-gradient(top, #f44d27, #f44d27);background-image:-o-linear-gradient(top, #f44d27, #f44d27);background-image:linear-gradient(to bottom, #f44d27, #f44d27);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#ffffff;text-decoration:none;outline:0;background-color:#f44d27;background-image:-moz-linear-gradient(top, #f44d27, #f44d27);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f44d27), to(#f44d27));background-image:-webkit-linear-gradient(top, #f44d27, #f44d27);background-image:-o-linear-gradient(top, #f44d27, #f44d27);background-image:linear-gradient(to bottom, #f44d27, #f44d27);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);}
