@gitorange: #F44D27;
@padding: 30px 0 30px 0;
@headerpadding: 100px 0 100px 0;

html {
  background: #1d1f21;
}
h1 {
  color: @gitorange;
}
h4,h5,h6 {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 100;
}
h5.normal {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
}
body {
  color: #c5c8c6;
  background: transparent;
  font-family: "adelle",Georgia,"Times New Roman",serif;
}
a:link    {color:@gitorange;}
a:visited {color:@gitorange;}
a:hover   {color:@gitorange;}
a:active  {color:@gitorange;}
.center-text {
  text-align: center;
}
p {
  font-size: 14px;
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
}
.tbgl {
  padding: @headerpadding;
}
.tbgb {

  border-bottom: 1px solid @gitorange;
//  background-color: rgba(45, 45, 45, 0.9);
  padding: @padding;
}
.tbgf {
//  background-color: rgba(45, 45, 45, 0.9);
  padding: @padding;
}
row {
  padding: @padding;
}
.twitter-blue {
  color: #00ACED;
}
.github-gray {
  color: #4F4F4F;
}
.well {
  background-color: rgba(0, 0, 0, 0.2);
//  background-color: @gitorange;
  border: 0px solid #000000;
  padding: 14px 4px 14px 4px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-gitignore {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: @gitorange;
  *background-color: @gitorange;
  background-image: -moz-linear-gradient(top, @gitorange, @gitorange);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@gitorange), to(@gitorange));
  background-image: -webkit-linear-gradient(top, @gitorange, @gitorange);
  background-image: -o-linear-gradient(top, @gitorange, @gitorange);
  background-image: linear-gradient(to bottom, @gitorange, @gitorange);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF44D27', endColorstr='#ffF44D27', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-gitignore:hover,
.btn-gitignore:focus,
.btn-gitignore:active,
.btn-gitignore.active,
.btn-gitignore.disabled,
.btn-gitignore[disabled] {
  color: #ffffff;
  background-color: @gitorange;
  *background-color: @gitorange;
}

.btn-gitignore:active,
.btn-gitignore.active {
  background-color: @gitorange;
}
blockquote {
  border-left: 4px solid @gitorange;
}
.input-append {
  font-size: 14px;
  margin-bottom: 0px;
}
.span8 {
  margin-left: 10px;
}
pre {
  background-color: rgba(245, 245, 245, 0.7);
}
.select2-container-multi .select2-choices {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  height: 16px;
}